.container {
  display: flex;
  gap: 25px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.infoContainer {
  display: grid;
  gap: 20px;
}

.img {
  width: 200px;
}

.summary {
  max-width: 800px;
}

.authorList {
  display: flex;
  gap: 10px;
}
