.container {
  display: flex;
  gap: 25px;
  text-align: left;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.infoContainer {
  display: grid;
  flex: 1;
  gap: 20px;
  max-width: 800px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cover {
  margin-top: 10px;
  width: 200px;
}

.summary {
  max-width: 800px;
}

.authorList {
  display: flex;
  gap: 10px;
}
