.container {
  display: flex;
  gap: 25px;
  text-align: left;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.skeletonCover {
  width: 200px;
  height: 300px;
}

.skeletonTitle {
  width: 100%;
  height: 40px;
}

.skeletonAuthor {
  width: 50%;
  height: 20px;
}

.skeletonSummary {
  width: 100%;
  height: 300px;
}

.skeletonSubjects {
  width: 40%;
  height: 20px;
}

.infoContainer {
  display: grid;
  flex: 1;
  gap: 40px;
  max-width: 800px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cover {
  margin-top: 10px;
  width: 200px;
}
