.container {
  display: flex;
  gap: 20px;
  padding: 10px;
  border: 2px solid var(--e-global-color-c925353);
  border-radius: 10px;

  box-shadow: -0 0 #0000, 0 0 #0000, -0 0 #0000, 0 0 #0000,
    0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.skeletonInfoContainer {
  display: grid;
  gap: 10px;
}

.skeletonBookCover {
  width: 94px;
  height: 140px;
}

.skeletonTitle {
  width: 250px;
  height: 40px;
}

.skeletonAuthor {
  width: 150px;
  height: 20px;
}

.wrapText {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.title {
  text-align: left;
  line-height: 100%;
  margin: 0;
  font-size: var(--e-global-typography-c89acd8-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
}

.author {
  color: var(--e-global-color-secondary);
  text-align: left;
}

.textContainer {
  display: grid;
  align-items: flex-start;
  justify-items: start;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: var(--e-global-typography-text-font-size);
  }
}
