#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bookList {
  display: grid;
  gap: 15px;
}

.gallery {
  display: grid;
  gap: 1em;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.card {
  grid-column: span 1;
}
