.container {
  background-color: rgba(57, 73, 79, 0.1);
}

@keyframes custom-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.pulse {
  animation: custom-pulse 1.5s infinite;
}

/*  className={cn("animate-pulse rounded-md bg-primary/10", className)} */
